{% extends "easy_pdf/base.html" %}

{% load static %}
{% load humanize %}

{% block layout_style %}
  <style type="text/css">
    @page {
      size: letter;
      margin-left: 1cm;
      margin-right: 0.5cm;
      margin-top: 0.5cm;
      margin-bottom: 0.5cm;
    }

    @page {
      margin: 2cm;
    }

  </style>
{% endblock %}

{% block extra_style %}

  <style type="text/css">
    body, html {
      padding: 0px;
      margin: 0;
      font-family: 'Roboto', sans-serif;
    }

    .boucherContainer {
      padding: 0;
      border-radius: 10px;
      border: 2px solid #666666;
    }

    .boucherHeader {
      padding: 30px 40px;
      margin-bottom: 10px;
    }

    #boucherRef {
      margin-bottom: 30px;
    }

    p, label {
      font-size: 16px;
      color: #333333;
    }

    label {
      font-weight: bolder;
    }

    p {
      margin-top: 5px;
      margin-bottom: 20px;
      font-weight: normal;
    }

    .dataText {
      font-size: 16px;
      color: #999999;
    }

    .boucherSection {
      margin-top: 20px;
    }

    .boucherSectionTitle {
      width: 150px;
    }

    .boucherSectionTitle p {
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #e0e0e0;
      font-weight: bold;
    }

    .boucherSectionContainer {
      padding: 10px 40px;
    }

    .boucherSectionParagraph {
      margin-top: 20px;
      margin-bottom: 35px;
    }

    .ghostParagraph {
      color: #999999;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .boucherSubsection {
      display: flex;
    }

    .boucherSubsectionItem {
      display: flex;
      width: 30%;
    }

    .flex-ext {
      width: 40% !important;
    }

    .boucherSubsectionItem img{
      margin-right: 10px;
      color: #999999;
      width: 30px;
      height: 30px;
    }

    .centerAligned {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #999999;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .boucherSubsectionItem .dataText {
      margin-bottom: 10px;
    }

    .contactSubsection {
      margin-top: 20px;
      justify-content: center;
    }

    .contactSubsectionItem {
      justify-content: center;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="boucherContainer">
    <div class="boucherHeader">
      <p id="boucherRef"> Reserva / Compra Nº: <strong>{{ request.booking }}</strong></p>
      <label>Señor(a)</label>
      <p class="dataText">{{ request.user.get_full_name }}</p>
      <p>A continuación encontrará la información necesaria para realizar el trámite de tu(s)
        licencia(s) categoría(s)
        {% for lic in request.related_tramits.all %}{{ lic.licence.category }}. {% endfor %}</p>
    </div>
    <div class="boucherSection">
      <div class="boucherSectionTitle">
        <p>RUNT</p>
      </div>
      <div class="boucherSectionContainer">
        {% if request.has_runt %}
          <p class="boucherSectionParagraph">Indicaste que ya estas incrito en el RUNT, puedes dirigirte al Centro de
            Reconocimiento de Conductores; si aún no estás inscrito en el RUNT debes dirigirte a la oficina del
            organismo
            de transporte y realizar allí la inscripción, este proceso tiene un valor de 13.900, los cuales deberá pagar
            en la oficina:</p>
        {% else %}
          <p class="boucherSectionParagraph">Indicaste que aún no estas incrito en el RUNT, por lo que debes dirigirte a la oficina del organismo de
            transporte y realizar allí la inscripción,
            este proceso tiene un valor de 13.900, los cuales deberá pagar en la oficina:</p>

        {% endif %}
        <p class="ghostParagraph">{{ request.transit.name|upper }}</p>
        <div class="boucherSubsection">
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png">
            <div>
              <label>Dirección:</label>
              <p class="dataText">{{ request.transit.address }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/horario/res/mipmap-mdpi/horario.png">
            <div>
              <label>Horario:</label><br>
              <p class="dataText">{{ request.transit.schedule }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Teléfonos:</label>
              <p class="dataText">{{ request.transit.cellphone }} - {{ request.transit.phone|default:'' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boucherSection">
      <div class="boucherSectionTitle">
        <p>Exámenes Médicos</p>
      </div>
      <div class="boucherSectionContainer">
        <p class="boucherSectionParagraph">Una vez inscrito en el RUNT debes proceder al Centro de Reconocimiento de Conductores :</p>
        <p class="ghostParagraph"><strong>{{ request.crc.name|upper }}</strong></p>
        <div class="boucherSubsection">
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png">
            <div>
              <label>Dirección:</label>
              <p class="dataText">{{ request.crc.address }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/horario/res/mipmap-mdpi/horario.png">
            <div>
              <label>Horario:</label><br>
              <p class="dataText">{{ request.crc.schedule }}</p>
            </div>
          </div>
        </div>
        <p class="boucherSectionParagraph">Te puedes comunicar a través del siguiente teléfono y correo electrónico:</p>
        <div class="boucherSubsection">
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Teléfono:</label>
              <p class="dataText">{{ request.crc.cellphone }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Correo electrónico:</label>
              <p class="dataText">{{ request.crc.email|default:"Sin Correo" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boucherSection">
      <div class="boucherSectionTitle">
        <p>Curso de Conducción</p>
      </div>
      <div class="boucherSectionContainer">
        <p class="boucherSectionParagraph">Después de realizarte los exámenes en el Centro de Recomocimiento de conductores, debes dirigirte al Centro de
          Enseñanza Automovilística:</p>
        <p class="ghostParagraph"><strong>{{ request.cec.name|upper }}</strong></p>
        <div class="boucherSubsection">
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png">
            <div>
              <label>Dirección:</label>
              <p class="dataText">{{ request.cea.address }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/horario/res/mipmap-mdpi/horario.png">
            <div>
              <label>Horario:</label><br>
              <p class="dataText">{{ request.cea.schedule }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/horario/res/mipmap-mdpi/horario.png">
            <div>
              <label>Horario de cursos:</label><br>
              <p class="dataText">{{ request.cea.courses_schedule }}</p>
            </div>
          </div>
        </div>
        <p class="boucherSectionParagraph">Te puedes comunicar a través del siguiente teléfono y correo electrónico:</p>
        <div class="boucherSubsection">
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Teléfono:</label>
              <p class="dataText">{{ request.cea.cellphone }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Correo electrónico:</label>
              <p class="dataText">{{ request.cea.email|default:"Sin Correo" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boucherSection">
      <div class="boucherSectionTitle">
        <p>Expedición Licencia</p>
      </div>
      <div class="boucherSectionContainer">
        <p class="boucherSectionParagraph">Una vez completado el curso de conducción te haremos llegar la documentación
          necesaria para que te acerques a la oficina del organismo de transporte INSTITUTO DE MOVILIDAD DE PEREIRA para
          reclamar la licencia solicitada.</p>
        <p class="boucherSectionParagraph centerAligned">Si tienes alguna duda te puedes comunicar con nosotros a través
          de nuestras líneas de atención:</p>
        <div class="boucherSubsection contactSubsection">
          <div class="boucherSubsectionItem contactSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/telefono/res/mipmap-mdpi/telefono.png">
            <div>
              <label>Teléfono:</label>
              <p class="dataText">{{ tulicencia.phone|default:"(6) 334 2480" }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/celular/res/mipmap-mdpi/celular.png">
            <div>
              <label>Celular:</label>
              <p class="dataText">{{ tulicencia.cellphone|default:"311 684 4142" }}</p>
            </div>
          </div>
          <div class="boucherSubsectionItem">
            <img src="https://solicitud.tulicencia.co/static/icons/linea-nacional/res/mipmap-mdpi/linea-nacional.png">
            <div>
              <label>Línea nacional gratuita:</label>
              <p class="dataText">311 684 4142</p>
            </div>
          </div>
        </div>

        <div class="boucherSubsection contactSubsection">
          <div class="boucherSubsectionItem flex-ext"">
            <img src="https://solicitud.tulicencia.co/static/icons/horario/res/mipmap-mdpi/horario.png">
            <div>
              <label>Horario:</label><br>
              <label>Lunes a Viernes</label>
              <p class="dataText">08:00 AM - 12:00 PM</p>
              <p class="dataText">02:00 PM - 06:00 PM</p>
              <label>Sábados</label>
              <p class="dataText">08:00 AM - 12:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
          integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
          crossorigin="anonymous"></script>
{% endblock %}