{% extends "easy_pdf/base.html" %}

{% load static %}
{% load humanize %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: letter;
            margin-left: 1.5cm;
            margin-right: 2.5cm;
            margin-top: 2.5cm;
            margin-bottom: 2cm;
        }
        @page {
            margin: 2cm;
        }
        
    </style>
{%endblock%}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <style>

        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #333;
            line-height: 20px;
            text-align: left;
        }

        .container {
            border: 3px solid #bbb;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 30px;
            border-radius: 15px;
        }


        .tiquet-number {
            font-weight: 500
        }

        .client-name span.title {
            margin-bottom: 10px;
            display: inline-block;
        }

        .client-name span.name {
            color: #999;
            margin-bottom: 30px;
            display: inline-block;
        }

        .item-title {
            background-color: #ddd;
            padding: 10px 50px 10px 60px;
            margin-left: -30px;
            font-weight: 600;
            margin-bottom: 30px;
            display: inline-block;
            width: 300px;
        }

        .item-info {
            font-weight: 400;
            margin-bottom: 20px;
            text-align: justify;
        }

        .company-name {
            color: #999;
            margin-top: 37px;
            margin-bottom: 25px;
            font-weight: 600;
            margin-left: 30px;
        }

        span.item-description-title {
            display: inline-block;
            margin-bottom: 15px;
            padding-top: 10px;
            font-weight: 500;
        }

        .item-description-title span.day-schedule {
            display: inline-block;
            margin-top: 10px;
        }

        span.item-detail {
            color: #999;
            line-height: 25px;
        }

        .item-title.transport {
            width: 302px !important;
        }

        p.tulicencia-info {
            font-size: 1.1em;
            color: #999;
            font-weight: 500;
        }
    </style>
{% endblock %}

    
{% block content %}

    <div class="container" id="content">
        <div class="row mb-5">
            <div class="col-12 tiquet-number mb-4">
                <p> Reserva / Compra Nº: <strong>{{request.booking}}</strong></p>
            </div>
            <div class="col-12 client-name">
                <span class="title">Señor (a)</span><br>
                <span class="name">{{request.user.get_full_name}}</span>
                <br>
                <p class="item-info">A continuación encontrará la información necesaria para realizar el trámite de tu licencia(s) categoría(s) {% for lic in request.licences.all %}{{lic.category}}. {%endfor%}</p>
            </div>
        </div>
        <div class="row runt-info mb-5">
            <div class="col-12">
                <span class="item-title">RUNT</span>

                {% if request.has_runt %}

                    <p class="item-info">
                            Indicaste que ya estas incrito en el RUNT, puedes dirigirte al Centro de Reconocimiento de Conductores; 
                            si aún no estás inscrito en el RUNT debes dirigirte a la oficina del organismo de transporte y realizar allí la inscripción, 
                            este proceso tiene un valor de 13.900, los cuales deberá pagar en la oficina:
                    </p>
                    <p class="company-name">{{request.transit.name|upper}}</p>
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Dirección: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.address}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Horario: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.schedule}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Teléfonos: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.cellphone}} - {{request.transit.phone|default:''}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">

                        </div>
                    </div>
                {% else %}
                    <p class="item-info">
                        Indicaste que aún no estas incrito en el RUNT, por lo que debes dirigirte a la oficina del organismo de transporte y realizar allí la inscripción, 
                        este proceso tiene un valor de 13.900, los cuales deberá pagar en la oficina:
                    </p>
                    <p class="company-name">{{request.transit.name}}</p>
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Dirección: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.address}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Horario: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.schedule}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3 img-location">
                                    <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                                </div>
                                <div class="col-8 item">
                                    <span class="item-description-title">
                                        Teléfonos: <br>
                                    </span><br>
                                    <span class="item-detail">
                                        {{request.transit.cellphone}} - {{request.transit.phone|default:''}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row crc-info mb-5">
            <div class="col-12">
                <span class="item-title">Exámenes Médicos</span>

                <p class="item-info">
                    Una vez inscrito en el RUNT debes proceder al Centro de Reconocimiento de Conductores :
                </p>
                <p class="company-name">{{request.crc.name}}</p>
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Dirección: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.crc.address}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Horario: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.crc.schedule}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 mt-5">
                        <p class="item-info">
                            Te puedes comunicar a través del siguiente teléfono y correo electrónico:
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Teléfono: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.crc.cellphone}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Correo: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.crc.email|default:"Sin Correo"}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cea-info mb-5">
            <div class="col-12">
                <span class="item-title">Curso de Conducción</span>

                <p class="item-info">
                    Después de realizarte los exámenes en el Centro de Recomocimiento de conductores, debes dirigirte al Centro de Enseñanza Automovilística:
                </p>
                <p class="company-name">{{request.cea.name}}</p>
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/ubicacion/res/mipmap-mdpi/ubicacion.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Dirección: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.cea.address}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Horario de atención: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.cea.schedule}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Horario de cursos: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.cea.courses_schedule}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 mt-5">
                        <p class="item-info">
                            Te puedes comunicar a través del siguiente teléfono y correo electrónico:
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Teléfono: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.cea.cellphone}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Correo: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{request.cea.email|default:"Sin Correo"}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row transport-info mb-5">
            <div class="col-12">
                <span class="item-title transport">Expedición Licencia</span>

                <p class="item-info">
                    Una vez completado el curso de conducción te haremos llegar la documentación necesaria para que te acerques a la oficina del organismo de transporte {{request.transit.name}} para reclamar la licencia solicitada.
                </p>
                
            </div>
        </div>

        <div class="row tulicencia-info justify-content-center mb-5">
            <div class="col-10">

                <p class="tulicencia-info">
                    Si tienes alguna duda te puedes comunicar con nosotros a través de nuestras líneas de atención:
                </p>
                <p class="company-name">Tu Licencia {{tulicencia.city}}</p>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/telefono/res/mipmap-mdpi/telefono.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Teléfono: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{tulicencia.phone|default:"(6) 334 2480"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/celular/res/mipmap-mdpi/celular.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Celular: <br>
                                </span><br>
                                <span class="item-detail">
                                    {{tulicencia.cellphone|default:"311 684 4142"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/linea-nacional/res/mipmap-mdpi/linea-nacional.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Línea nacional gratuita: <br>
                                </span><br>
                                <span class="item-detail">
                                    311 684 4142
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-3 img-location">
                                <img src="http://3.16.156.133/static/icons/horario/res/mipmap-mdpi/horario.png" width="30" height="30">
                            </div>
                            <div class="col-8 item">
                                <span class="item-description-title">
                                    Horario: <br>
                                </span><br>
                                <span class="item-detail">
                                    08:00 AM - 12:00 PM <br>
                                    02:00 PM - 06:00 PM
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
{% endblock %}