{% extends 'webclient/base.html' %}

{% load static %}
{% load custom_range %}

{% block extra_css %}
    
{% endblock %}

{% block content %}

    <div class="col-10 form-box">
        <form method="POST" id="forget" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Documento de identidad</label>
                </div>
                <div class="col-xs-12">
                    <input class="form-control" name="document_id" required placeholder="Ingresa tu número de documento de identidad" />
                </div>
            </div>
            <br>

            <p class="text-right">
                <a href="{% url 'webclient:login' %}" class="forgot-pass">Login</a>
            </p>

            <div class="text-center">
                <input type="submit" id="reg_submit" value="Recuperar Contraseña"/>
            </div>
                        
        </form>

    </div>
   
{% endblock %}
{% block extra_js %}
    <script>
        $("#forget").on('submit', function(ev){
            ev.preventDefault()
            $('#reg_submit_forget').attr('disabled', true)
            $.ajax({
                data: $(this).serialize(),
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url:"{% url 'api:users:reset_password' %}",
                success:function(data)
                {
                    swal({
                        title: 'Solicitud exitosa',
                        text: "Se ha enviado un correo de restablecimiento de contraseña al correo ingresado durante el proceso de compra",
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#162d40',
                        confirmButtonText: 'Cerrar'
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = '/login'
                        }
                    })
                },
                error:function(data)
                {
                    data = data.responseJSON
                    $.each(data, function(k, v)
                    {   
                        swal({
                            title: 'Solicitud erronea',
                            text: "El documento ingresado no se encuentra registrado",
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#162d40',
                            confirmButtonText: 'Cerrar'
                        }).then((result) => {
                            if (result.value) {
                                location.reload()
                            }
                        })
                        
                    });
                    $('#reg_submit_forget').attr('disabled', false)
                }
            });
        }) 

    </script>
{% endblock %}