{% extends 'webclient/base.html' %}

{% load static %}
{% load custom_range %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" width="100" height="60" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav">
                    <li class="span6">
                        <div class="mycontent-left">
                            <a class="a-navbar" href="{% url 'webclient:contact-form' %}">Contacto</a> 
                        </div>
                    </li>
                    <li class="span6">
                        <div class="mycontent-right">
                            <a class="a-navbar" href="{% url 'webclient:profile' %}">
                                {{request.user.email}}
                                <img class="img-profile" src="{% static 'images/login.png' %}" width="25" height="25" alt="logo">
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="col-12 form-box">
        <div class="container">
            <div class="row profile-title">
                <div class="col-12">
                   <span>
                        Mi Perfil
                   </span>
                </div>
            </div>
            <div class="row profile-info align-items-center">
                <div class="col-12">
                    <div class="row profile-description">
                        <div class="col-3 align-self-center">
                            <img src="{% static 'images/07.png' %}" alt="user-img" width="100" height="100">
                        </div>
                        <div class="col-7 align-self-center">
                            <span class="description-email">
                                {{request.user.email}}  
                                <i class="fas fa-check-circle"></i>
                            </span>
                        </div>
                        <div class="col-2 align-self-center">
                            <button class="btn btn-edit">Editar</button>
                        </div>
                    </div>
                    <div class="row profile-detail align-items-center">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/08.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Datos personales</span>
                                    <span class="detail-info">{{request.user.get_full_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/08.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Datos personales</span>
                                    <span class="detail-info">{{request.user.get_full_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 align-self-center">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/08.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Datos personales</span>
                                    <span class="detail-info">{{request.user.get_full_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 align-self-center">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/08.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Contrasean</span>
                                    <span class="detail-info">{{request.user.get_full_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
{% block extra_js %}
    <script>

    </script>
{% endblock %}