{% extends 'webclient/profile_base.html' %}

{% load static %}
{% load custom_range %}


{% block container %}

    <div class="row row-details">
        <div class="col-12">
            <div class="row row-title-details">
                <div class="col-3">
                    <span class="services-title">Detalle de solicitud</span>
                </div>
                <div class="col-6">
                    <a href="{% url 'webclient:baucher-detail' pk=object.pk %}" target="_blank" class="btn btn-baucher">Ver Baucher</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'webclient:profile' %}" class="btn btn-back"><img src="{% static 'images/Volver.png' %}" alt=""> Regresar</a>
                </div>

            </div>
            <div class="row request-data align-items-center">
                <div class="col-sm-6 col-md-4">
                    <span class="title">Nº Reserva</span>
                    <span class="description">{{object.booking}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Fecha de la solicitud</span>
                    <span class="description">{{object.request_date}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Estado de la solicitud</span>
                    <span class="description">
                        {{object.get_request_status_display}}
                    </span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        CRC
                            {% if object.request_status == 'ICRC' or  object.request_status == 'ICEA' or object.request_status == 'FNS' %}
                                <span class="rated-service">
                                    <button class="rated-service rate-transit" data-toggle="modal" data-target="#ratedService" data-company="{{object.crc}}">
                                        Calificar servicio
                                    </button>
                                </span>
                            {% endif %}
                        
                    </span>
                    <span class="description">
                        {{object.crc}}
                    </span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        CEA
                        {% if object.request_status == 'ICEA' or object.request_status == 'FNS' %}
                            <span class="rated-service">
                                <button class="rated-service rate-transit" data-toggle="modal" data-target="#ratedService" data-whatever="@mdo">Calificar servicio</button>
                            </span>
                        {% endif %}
                    </span>
                    <span class="description">{{object.cea}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        Organismo de tránsito
                        {% if object.request_status == 'FNS' %}
                            <span class="rated-service">
                                <button class="rated-service rate-transit" data-toggle="modal" data-target="#ratedService" data-whatever="@mdo">Calificar servicio</button>
                            </span>
                        {% endif %}
                    </span>
                    <span class="description">{{object.transit}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Tipo de pago</span>
                    <span class="description">{{object.get_payment_type_display}}</span>
                </div>
                {% if object.payment_type == 'CR' %}
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Estado del crédito</span>
                        <span class="description">{{object.get_credit_status_display}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Codigo solicitud del crédito</span>
                        <span class="description">{{object.credit_request_code|default:'Sin codigo '}}</span>
                    </div>

                {% else %}
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Referencia de pago TuLicencia</span>
                        <span class="description">{{object.id_invoice}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Estado pago</span>
                        <span class="description">{{object.payment_status|default:'Pendiente pago'}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Fecha del pago</span>
                        <span class="description">{{object.payment_date|default:'Pendiente pago'}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Referencia de pago ePayco</span>
                        <span class="description">{{object.id_epayco_invoice|default:'Pendiente pago'}}</span>
                    </div>
                {% endif %}
                {% if object.request_status != 'CAN' %}
                    <div class="col-sm-6 col-md-4 align-self-end">
                        <button id="cancel-request" class="btn btn-cancel">Solicitar Cancelación del servicio</button>
                    </div>
                {% endif %}
            </div>

            <div class="modal fade" id="ratedService" tabindex="-1" role="dialog" aria-labelledby="ratedServiceLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ratedServiceLabel">Calificar Servicio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text5">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text4">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text3">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text2">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text1">1 star</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
   
{% endblock %}
{% block js_extra %}
    <script>

        $('#cancel-request').on('click', function(){
            swal({
                title: 'Estas Seguro?',
                text: "Estas seguro que deseas realizar la solicitud de cancelación??",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#162d3f',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, enviar solicitud',
                cancelButtonText: 'Cancelar',
                reverseButtons: true,
            }).then((result) => {
                if (result.value) {
                    params = {
                        'pk': '{{object.pk}}',
                    }
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getCookie('csrftoken');
                    axios.defaults.headers.common['X-CSRFToken'] = csrftoken
                    axios.post('/api/request/cancel-request/', params)
                    .then(function(response){
                        data = response.data
                        console.log(data)
                        swal(
                            'Exitoso!',
                            'Tu solicitud se ha realizado con éxito.',
                            'success'
                        ).then((result) => {
                            location.reload()
                        })
                    })
                }
            })
        })

    </script>
{% endblock %}