{% extends 'webclient/profile_base.html' %}

{% load static %}
{% load custom_range %}


{% block container %}

    <div class="row row-details">
        <div class="col-12">
            <div class="row row-title-details">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <span class="services-title">Detalle de solicitud</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'webclient:baucher-detail' pk=object.pk %}" target="_blank" class="btn btn-baucher mb-3">Ver Baucher</a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'webclient:profile' %}" class="btn btn-back mb-3">Regresar</a>
                </div>

            </div>
            <div class="row request-data align-items-center">
                <div class="col-sm-6 col-md-4">
                    <span class="title">Nº Reserva</span>
                    <span class="description">{{object.booking}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Fecha de la solicitud</span>
                    <span class="description">{{object.request_date}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Estado de la solicitud</span>
                    <span class="description">
                        {{object.get_request_status_display}}
                    </span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        Exámenes médicos
                        {% if crc_rating is not True %}
                            {% if object.request_status == 'ICRC' or  object.request_status == 'ICEA' or object.request_status == 'FNS' %}
                                <span class="rated-service">
                                    <button class="rated-service rate-company" data-company="crc" data-id="{{object.crc.pk}}" data-name="{{object.crc}}">
                                        Calificar servicio
                                    </button>
                                </span>
                            {% endif %}
                        {% endif %}
                        
                    </span>
                    <span class="description">
                        {{object.crc}}
                    </span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        Curso de conducción
                        {% if cea_rating is not True %} 
                            {% if object.request_status == 'ICEA' or object.request_status == 'FNS' %}
                                <span class="rated-service">
                                    <button class="rated-service rate-company" data-company="cea" data-id="{{object.cea.pk}}" data-name="{{object.cea}}">
                                        Calificar servicio
                                    </button>
                                </span>
                            {% endif %}
                        {% endif %}
                    </span>
                    <span class="description">{{object.cea}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">
                        Expedición licencia
                        {% if transit_rating is not True and object.request_status == 'FNS' %}
                            <span class="rated-service">
                                <button class="rated-service rate-company" data-company="transit" data-id="{{object.transit.pk}}" data-name="{{object.transit}}"">
                                    Calificar servicio
                                </button>
                            </span>
                        {% endif %}
                    </span>
                    <span class="description">{{object.transit}}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <span class="title">Tipo de pago</span>
                    <span class="description">{{object.get_payment_type_display}}</span>
                </div>
                {% if object.payment_type == 'CR' %}
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Estado del crédito</span>
                        <span class="description">{{object.get_credit_status_display}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Codigo solicitud del crédito</span>
                        <span class="description">{{object.credit_request_code|default:'Sin codigo '}}</span>
                    </div>

                {% else %}
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Referencia de pago TuLicencia</span>
                        <span class="description">{{object.id_invoice}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Estado pago</span>
                        <span class="description">{{object.payment_status|default:'Pendiente pago'}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Fecha del pago</span>
                        <span class="description">{{object.payment_date|default:'Pendiente pago'}}</span>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <span class="title">Referencia de pago ePayco</span>
                        <span class="description">{{object.id_epayco_invoice|default:'Pendiente pago'}}</span>
                    </div>
                {% endif %}
                {% if object.request_status != 'CAN' %}
                    <div class="col-12 align-self-end">
                        <button id="cancel-request" class="btn-cancel">Solicitar Cancelación del servicio</button>
                    </div>
                {% endif %}
            </div>

            <div class="modal fade" id="ratedService" tabindex="-1" role="dialog" aria-labelledby="ratedServiceLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ratedServiceLabel">Calificar Servicio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="rating-service">
                                {% csrf_token %}
                                <input type="hidden" name="user" id="user-id" value="{{request.user.pk}}">
                                <input type="hidden" name="" id="company-name" value="">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Observaciones:</label>
                                    <textarea class="form-control" id="message-text" name="detail"></textarea>
                                </div>
                                <div class="form-group rate">
                                    <span class="rating-title">Calificación</span>
                                    <input type="radio" id="star5" name="stars" value="5" />
                                    <label for="star5" title="5 Estrellas">5 estrellas</label>
                                    <input type="radio" id="star4" name="stars" value="4" />
                                    <label for="star4" title="4 Estrellas">4 estrellas</label>
                                    <input type="radio" id="star3" name="stars" value="3" />
                                    <label for="star3" title="3 Estrellas">3 estrellas</label>
                                    <input type="radio" id="star2" name="stars" value="2" />
                                    <label for="star2" title="2 Estrellas">2 estrellas</label>
                                    <input type="radio" id="star1" name="stars" value="1" />
                                    <label for="star1" title="1 estrella">1 estrella</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary btn-rate">Calificar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
   
{% endblock %}
{% block js_extra %}
    <script>

        $('#cancel-request').on('click', function(){
            swal({
                title: 'Estas Seguro?',
                text: "Estas seguro que deseas realizar la solicitud de cancelación??",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#162d3f',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, enviar solicitud',
                cancelButtonText: 'Cancelar',
                reverseButtons: true,
            }).then((result) => {
                if (result.value) {
                    params = {
                        'pk': '{{object.pk}}',
                    }
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getCookie('csrftoken');
                    axios.defaults.headers.common['X-CSRFToken'] = csrftoken
                    axios.post('/api/request/cancel-request/', params)
                    .then(function(response){
                        data = response.data
                        console.log(data)
                        swal(
                            'Exitoso!',
                            'Tu solicitud se ha realizado con éxito.',
                            'success'
                        ).then((result) => {
                            location.reload()
                        })
                    })
                }
            })
        })

        $('.rate-company').on('click', function(){
            id = $(this).data('id')
            company = $(this).data('company')
            name = $(this).data('name')
            $('#company-name').attr('name', company)
            $('#company-name').attr('value', id)
            $('#ratedService').modal('show')
        })

        $('#rating-service').on('submit', function(event){
            event.preventDefault();
            data = $( this ).serialize()
            axios.defaults.headers.common['Api-Key'] = '36f24428d8a940bcdbe996a01a98e10bfc7f2231';
            axios.post(`/api/companies/rating/${company}/${id}`, data)
            .then(function (response) {
                console.log(response);
                swal({
                    title: 'Exitoso',
                    text: "Tu calificación se ha enviado correctamente.",
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#162d40',
                    confirmButtonText: 'Aceptar',
                    reverseButtons: true
                }).then(response => {
                    location.reload()
                })
            })
            .catch(function (error) {
                console.log(error.response);
                if (error.response.status === 400){
                    swal({
                        title: 'Error',
                        text: "Debes ingresar el valor de la calificación",
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#162d40',
                        confirmButtonText: 'Aceptar',
                        reverseButtons: true
                    })
                }
            });
            
        })


    </script>
{% endblock %}