
img.company-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.crc-big-title {
    font-size: 1.5em;
    color: #162d40;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.detail-crc {
    background: #fff;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 12px;
}

.image-crc {
    border: 2px solid #ddd;
    border-radius: 10px;
    height: 250px;
}

.info-crc {
    border: 2px solid #ddd;
    border-radius: 10px;
}

.info-crc .crc-title {
    font-size: 1.5em;
    font-weight: 500;
    color: #162d40;
    padding-top: 15px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

button.btn-select {
    width: 100%;
    color: #fff;
    font-weight: 600;
    border-color: #162d3f;
    background: #162d3f;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.item {
    margin-bottom: 15px;
    text-align: left;
}

span.item-title {
    font-weight: 500;
    font-size: 1.1em;
}

span.item-detail {
    font-size: 0.9em;
}

span.licence-title {
    text-align: left;
    font-weight: 500;
    color: #aaa;
    margin-bottom: 15px;
    padding-left: 75px;
}

.row.services {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}

.row.vehicles {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}

.vehicle-detail {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-body {
    background-color: #162d40;
    color: #fff;
    margin-top: 15px;
    padding: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -16px;
    margin-right: -16px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    padding-top: 15px;
}

.card {
    border: none
}

.card-img {
    height: 115px;
}

.licence-detail {
    font-size: 0.9em;
    font-weight: 400;
}

span.price {
    background-color: #FFCA17;
    color: #232F3E;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    /* margin-top: 3px; */
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 2px solid #ddd;
}

@media (min-width: 1200px){
    /* .container {
        max-width: 1250px;
    } */
    .licence-detail {
        font-size: 1em;
    }
}

@media (min-width: 992px){
    .licence-detail {
        height: 140px;
    }
}


@media (min-width: 768px){
    .col-md-c-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 64.666667%;
    }
    .col-md-c-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 30.333333%;
    }
}

@media (max-width: 767px) {
    .row.services {
        border: 2px solid #ddd;
        border-radius: 10px;
        margin: 0px -15px;
    }
}

@media (max-width: 991px) {
    .row.vehicles {
        border: 2px solid #fff;
        border-radius: 10px;
        margin: 10px -15px 20px -15px;
    }
}