body{
    background-color: #fff !important
}


.mycontent-left {
    border-right: 1px solid #fff;
    padding-right: 30px;
}

.mycontent-right {
    margin-right: 50px;
    margin-left: 30px;
}

.mycontent-right .a-navbar {
    color: #efbe21;;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: none;
}

.a-navbar {
    color: #fff;;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: none;
}

a.a-navbar:hover, a.a-navbar:focus, a.a-navbar:active {
    color: #999;
}

a.a-navbar:active {
    color: #fff;
}

img.img-profile {
    margin-left: 30px;
}

img.img-profile-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row.profile-title {
    height: 70px;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 500;
    color: #162d3f;
    text-align: left;
    margin-bottom: 30px;
}

.row.profile-info {
    border: 1px solid #999;
    border-radius: 10px;
}

.row.profile-description {
    background-color: #162d3f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 15px;
    height: 170px;
}

span.description-email {
    font-size: 0.9em;
    color: #fff;
    text-align: left;
    display: block;
    font-weight: 600;
    margin-left: -30px;
}

@media (max-width: 776px) { 
    span.description-email {
        font-size: 0.9em;
        color: #fff;
        text-align: center;
        display: block;
        font-weight: 600;
        margin-top: 10px;
    }
    .row.profile-description {
        background-color: #162d3f;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 25px 15px;
        height: 225px;
    }
}

.btn.btn-edit {
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 6px 30px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.row.profile-detail {
    padding: 10px 5px;
}

span.detail-title {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
}
span.detail-title-profile {
    text-align: left;
    font-size: 0.8em;
    font-weight: 500;
}

span.detail-info {
    display: block;
    text-align: left;
    color: #162d3f;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row.row-details {
    border: 1px solid #999999;
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px 20px;
}

.row.row-details-profile {
    margin-top: 30px;
    border-radius: 10px;
}

@media (min-width: 992px) { 
    .col-lg-8.col-data-profile.mt-4 {
        flex: 0 0 64%;
    }

    .col-lg-6.col-data-profile.mt-4 {
        flex: 0 0 48.6%;
    }
}

.table_id {
    width: 100%;
}

span.services-title {
    display: block;
    text-align: left;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
    color: #162d3f;
}

.row.row-title-details {
    border-bottom: 2px solid #ddd;
}

a.btn.btn-baucher {
    float: left;
    color: #fff;
    background-color: #162d3f;
    font-size: 0.9em;
    padding: 6px 15px;
    width: 140px;
}

a.btn.btn-back {
    color: #162d3f;
    background: #ffca24;
    font-weight: 500;
    float: right;
    width: 140px;
}
@media (max-width: 576px) { 
    a.btn.btn-back {
        float: left;
    }
}

.request-data span.title {
    display: block;
    color: #162d3f;
    text-align: left;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.request-data span.description {
    width: 95%;
    display: block;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 5px;
    text-align: left;
    padding-left: 16px;
    color: #162d3f;
    font-size: 1em;
    font-weight: 300;
}

a.btn.btn-cancel {
    background: #162d3f;
    color: #fff;
    font-size: 0.8em;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.col-data-profile {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}

label {
    text-align: left;
    display: block;
    color: #162d3f;
    font-weight: 500;
    font-size: 0.9em;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select.form-control, textarea.form-control {
    border: 2px solid #ddd;
    border-radius: 7px;
    color: #444;
}

button.save-data {
    margin-top: 25px;
    float: left;
    margin-bottom: 10px;
    background: #ffca24;
    border: 2px solid #ffca24;
    color: #162d3f;
    padding: 5px 25px;
    border-radius: 5px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.btn.btn-change-email {
    background: #162d3f;
    float: left;
    color: #fff;
    font-weight: 400;
}

.btn-cancel {
    color: #666;
    background: transparent;
    margin-top: 20px;
    font-weight: 400;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border: transparent;
}
.btn.btn-cancel:hover, 
.btn.btn-cancel:focus {
    color: #999;
}

span.rated-service {
    font-size: 1.1em;
    color: #22d0dc;
    float: right;
    margin-right: 20px;
}

button.rated-service {
    font-size: 1.1em;
    color: #22d0dc;
    background: transparent;
    border: none;
    cursor: pointer;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media (max-width: 767px) { 
    .profile-detail img {
        width: 35px;
        height: 35px;
    }

    span.detail-title {
        font-size: 0.7em;
    }

    span.detail-info {
        font-size: 0.7em;
    }
}

@media (max-width: 395px) { 
    #DataTables_Table_0_filter{
        width: 100%;
    }
    
    input[type="search"] {
        width: 100%;
    }
}