{% extends 'admin/change_form.html' %}
{% load static %}
{% load i18n admin_urls %}
{% load utils_extras %}

{% block submit_buttons_bottom %}
    {{ block.super }} 
    <style>
        input.softdeletelink {
            background-color: rgb(218, 104, 5);
            color: #fff;
        }
        input.revivelink {
            background-color: rgba(37, 160, 12, 0.899);
            color: #fff;
        }
        .submit-row p.deletelink-box{
            float: right;
        }
        .submit-row a.deletelink{
            display: inline-block;
        }
        .submit-row a.deletelink:not(.custom){
            display: none;
        }
    </style>
    <div class="hidden object-info" data-id="{{original.pk}}" data-slug="{{original.slug}}" data-model="{{opts.model_name}}"></div>
    {% if change %}        
        <div class="submit-row">
            <p class="deletelink-box">
                {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                <a href="{% add_preserved_filters delete_url %}" class="deletelink custom">Eliminar definitivamente</a>
                {% if original|is_softdeletion_instance %}
                    {% if not original.deleted_at %}
                        <input type="submit" class="softdeletelink" value="Inhabilitar" name="_soft-delete" />
                    {% else %}
                        <input type="submit" class="revivelink" value="Habilitar" name="_revive" />
                    {% endif %}
                {% endif %}
            </p>        
        </div>     
    {% endif %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>