{% extends 'webclient/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="col-12 form-box">
    <form class="bg0 p-t-75 p-b-85 shoping-cart-form" id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/splitpayments.php">
        <div class="container">
            <h1 class="title-brand mt-5 mb-3">Resumen de solicitud</h1>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="table-responsive">
                    <table class="table table-buy">
                        <thead>
                        <tr>
                            <th scope="col" class="text-small">SOLICITUD</th>
                            <th scope="col" class="text-small">DETALLE</th>
                            <th scope="col" class="text-small">PRECIO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            <div class="media">
                                <img class="align-self-center mr-2" src="{% static 'assets/img/img-check.svg' %}" width="35">
                                <div class="media-body align-self-center">
                                <h6 class="mt-0 mb-0 text-small">CEA</h6>
                                </div>
                            </div>
                            </td>
                            <td>{{cea}}</td>
                            <td>$ {{cea_price|intcomma}}</td>
                        </tr>
                        <tr>
                            <td>
                            <div class="media">
                                <img class="align-self-center mr-2" src="{% static 'assets/img/volante.svg' %}" width="35">
                                <div class="media-body align-self-center">
                                <h6 class="mt-0 mb-0 text-small">CRC</h6>
                                </div>
                            </div>
                            </td>
                            <td>{{crc}}</td>
                            <td>$ {{crc_price|intcomma}}</td>
                        </tr>
                        <tr>
                            <td>
                            <div class="media">
                                <img class="align-self-center mr-2" src="{% static 'assets/img/gorro.svg' %}" width="35">
                                <div class="media-body align-self-center">
                                <h6 class="mt-0 mb-0 text-small">Organismo de transporte</h6>
                                </div>
                            </div>
                            </td>
                            <td>{{transit}}</td>
                            <td>$ {{transit_price|intcomma}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>           
                </div>
                <div class="col-12 col-lg-4">
                    <div class="info-applicant">
                        <h2 class="title-brand">TOTAL COMPRA</h2>
                        <p><strong class="pr-5">Subtotal:</strong> <strong>${{p_amount|intcomma}}</strong></p>
                        <div class="divider"></div>
                        <div class="row pt-3 pb-2">
                            <div class="col-5"><span class="color-light weigh-5 text-small">Nombre:</span></div>
                            <div class="col-7"><span class="color-brand weigh-5 text-small">{{user.first_name}}</span></div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-5"><span class="color-light weigh-5 text-small">Apellidos:</span></div>
                            <div class="col-7"><span class="color-brand weigh-5 text-small">{{user.last_name}}</span></div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-5"><span class="color-light weigh-5 text-small">Correo electrónico:</span></div>
                            <div class="col-7"><span class="color-brand weigh-5 text-small">{{user.email}}</span></div>
                        </div>
                        <div class="row pt-2 pb-2">
                            <div class="col-5"><span class="color-light weigh-5 text-small">Departamento:</span></div>
                            <div class="col-7"><span class="color-brand weigh-5 text-small">{{user.state}}</span></div>
                        </div>
                        <!-- <div class="row pt-2 pb-3">
                            <div class="col-5"><span class="color-light weigh-5 text-small">Ciudad:</span></div>
                            <div class="col-7"><span class="color-brand weigh-5 text-small">Pereira</span></div>
                        </div> -->
                        <div class="divider"></div>
                        <p class="title-brand mt-3"><span class="pr-5">Total:</span>${{p_amount|intcomma}}</p>

                        <input name="p_cust_id_cliente" type="hidden" value="{{p_cust_id_cliente}}"> 
                        <input name="p_key" type="hidden" value="{{p_key}}"> 
                        <input name="p_id_invoice" type="hidden" value="{{p_id_invoice}}"> 
                        <input name="p_description" type="hidden" value="{{p_description}}">
                        <input name="p_currency_code" type="hidden" value="{{p_currency_code}}"> 
                        <input name="p_amount" id="p_amount" type="hidden" value="{{p_amount}}">
                        <input name="p_tax" id="p_tax" type="hidden" value="{{p_tax}}"> 
                        <input name="p_amount_base" id="p_amount_base" type="hidden" value="{{p_amount_base}}"> 
                        <input name="p_test_request" type="hidden" value="{{p_test_request}}"> 
                        <input name="p_url_response" type="hidden" value="{{p_url_response}}"> 
                        <input name="p_url_confirmation" type="hidden" value="{{p_url_confirmation}}"> 
                        <input name="p_confirm_method" type="hidden" value="{{p_confirm_method}}"> 
                        <input name="p_signature" type="hidden" id="signature" value="{{p_signature}}"> 
                        <input name="p_split_type" type="hidden" value="{{p_split_type}}"> 
                        <input name="p_split_merchant_receiver" type="hidden" value="{{p_split_merchant_receiver}}"> 
                        <input name="p_split_primary_receiver" type="hidden" value="{{p_split_primary_receiver}}">
                        <input name="p_split_primary_receiver_fee" type="hidden" value="{{p_split_primary_receiver_fee}}"> 
                        <input name="p_split_receivers" type="hidden" value="{{p_split_receivers}}"> 
                        <input name="p_signature_split" type="hidden" value="{{p_signature_split}}"> 

                        <button class="btn-brand btn-second btn-block">REALIZAR PAGO</button>
                    </div>
                </div>
            </div>       
        </div>
    
    
    </form>

</div>


{% endblock %}

{% block extra_js %}

	<script>
		$('.item-img').on('click', function(ev){
			ev.preventDefault()
			id = $(this).data('id')
			swal({
				title: "Esta seguro?",
				text: "Seguro quieres eliminar este producto del carrito de compras?",
				icon: "warning",
				buttons: ["Cancelar", "Eliminar"],
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
					url = "/api/order/item/"+id+"/"
					$.ajax({
						url: url,
						method: "DELETE"
					})
					.done(function(data) {
						swal("Tu producto se ha eliminado del carrito de compras", {
							icon: "success",
						})
						.then((willDelete) =>{
							location.reload()
						})
					})
					.fail(function(error){
						swal("Ha ocurrido un error", {
							icon: "error",
						});
					});
				} else {
					swal("Tu producto sigue en el carrito de compras");
				}
			});
			
		})
	</script>

{% endblock %}