{% extends 'webclient/base.html' %}

{% load static %}
{% load custom_range %}
{% load humanize %}


{% block content %}
    <main class="row">
        <div class="container">
            <div class="content_payU">
                <h3>Resultados de tu Pago</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Estado</th>
                            <td>
                                {% if transactionState == "4"%}
                                    Aprobada
                                {% endif %}
                                {% if transactionState == "6"%}
                                    Declinada
                                {% endif %}
                                {% if transactionState == "104"%}
                                    Error
                                {% endif %}
                                {% if transactionState == "5"%}
                                    Expirada
                                {% endif %}
                                {% if transactionState == "7"%}
                                    Pendiente
                                {% endif %}
                                </td>
                        </tr>
                        <tr>
                            <th scope="row">Referencia</th>
                            <td>{{  referenceCode }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Referencia payU</th>
                            <td>{{reference_pol}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Valor Pagado</th>
                            <td>{{currency}} ${{  value|floatformat|intcomma }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Método de pago</th>
                            <td>
                                {% if polPaymentMethodType == '2' %}
                                    Tarjeta de crédito
                                {% endif %}
                                {% if polPaymentMethodType ==  '4' %}
                                    pse-Transferencias bancarias
                                {% endif %}
                                {% if polPaymentMethodType == '5' %}
                                    Débito ACH
                                {% endif %}
                                {% if polPaymentMethodType == '6' %}
                                    Tarjetas débito
                                {% endif %}
                                {% if polPaymentMethodType == '7' %}
                                    Pago en efectivo
                                {% endif %}
                                {% if polPaymentMethodType == '8' %}
                                    Pago Referenciado
                                {% endif %}
                                {% if polPaymentMethodType == '10' %}
                                    Pago en bancos
                                {% endif %}
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>
                <a class="btn btn-add" href="{% url 'webclient:stepper' %}">Ir al Calendario</a>
                </form>
                
            </div>
        </div>
    </main>

{% endblock %}
