{% extends 'webclient/base.html' %}

{% load static %}
{% load custom_range %}
{% load humanize %}


{% block content %}
<div class="col-12 form-box">
    <main class="row">
        <div class="container m-t-50">
            <div class="content_payU">
                <h3>Resultados de tu Pago</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Estado</th>
                            <td>
                                {% if x_cod_respuesta == "1"%}
                                    Aprobada
                                {% endif %}
                                {% if x_cod_respuesta == "6"%}
                                    Declinada
                                {% endif %}
                                {% if x_cod_respuesta == "104"%}
                                    Error
                                {% endif %}
                                {% if x_cod_respuesta == "5"%}
                                    Expirada
                                {% endif %}
                                {% if x_cod_respuesta == "7"%}
                                    Pendiente
                                {% endif %}
                                </td>
                        </tr>
                        <tr>
                            <th scope="row">Referencia de Pago</th>
                            <td>{{x_id_factura}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Referencia ePayco</th>
                            <td>{{x_ref_payco}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Valor Pagado</th>
                            <td>{{x_currency_code}} ${{  x_amount|floatformat|intcomma }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Método de pago</th>
                            <td>
                                {% if x_franchise == 'AM' %}
                                    American Express
                                {% endif %}
                                {% if x_franchise ==  'BA' %}
                                    Baloto
                                {% endif %}
                                {% if x_franchise == 'CR' %}
                                    Credencial
                                {% endif %}
                                {% if x_franchise == 'DC' %}
                                    Diners Club
                                {% endif %}
                                {% if x_franchise == 'EF' %}
                                    Efecty
                                {% endif %}
                                {% if x_franchise == 'GA' %}
                                    GA
                                {% endif %}
                                {% if x_franchise == 'PR' %}
                                    Punto Red
                                {% endif %}
                                {% if x_franchise == 'RS' %}
                                    Red Servi
                                {% endif %}
                                {% if x_franchise == 'MC' %}
                                    Mastercard
                                {% endif %}
                                {% if x_franchise == 'PSE' %}
                                    PSE
                                {% endif %}
                                {% if x_franchise == 'SP' %}
                                    SafetyPay
                                {% endif %}
                                {% if x_franchise == 'VS' %}
                                    Visa
                                {% endif %}
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>
                    <a class="btn-brand btn-second btn-small ml-1 mr-1 mt-4" href="{% url 'webclient:stepper' %}">Ir al inicio</a>
                </form>
                
            </div>
        </div>
    </main>
</div>

{% endblock %}
