{% extends 'webclient/base.html' %}

{% load static %}
{% load custom_range %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css"/>
    
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" width="100" height="60" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav">
                    <li class="span6">
                        <div class="mycontent-left">
                            <a class="a-navbar" href="{% url 'webclient:contact-form' %}">Contacto</a> 
                        </div>
                    </li>
                    <li class="span6">
                        <div class="mycontent-right">
                                <div class="dropdown show">
                                    <a class="a-navbar dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{request.user.email}}
                                        <img class="img-profile" src="{% static 'images/12.png' %}" width="25" height="25" alt="logo">
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'webclient:profile' %}">Mi Perfil</a>
                                        <a class="dropdown-item" href="{% url 'webclient:logout' %}">Cerrar Sesión</a>
                                    </div>
                                </div>
                                
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="col-12 form-box">
        <div class="container">
            <div class="row profile-title">
                <div class="col-12">
                   <span>
                        Mi Perfil
                   </span>
                </div>
            </div>
            <div class="row profile-info align-items-center">
                <div class="col-12">
                    <div class="row profile-description">
                        <div class="col-2 align-self-center">
                            <img src="{% static 'images/07.png' %}" alt="user-img" width="100" height="100">
                        </div>
                        <div class="col-7 align-self-center">
                            <span class="description-email">
                                {{request.user.email}}  
                                <i class="fas fa-check-circle"></i>
                            </span>
                        </div>
                        <div class="col-3 align-self-center">
                            <a href="{% url 'webclient:profile-detail' pk=request.user.pk %}" class="btn btn-edit">Editar</a>
                        </div>
                    </div>
                    <div class="row profile-detail align-items-center">
                        <div class="col-md-6 col-lg-3">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/08.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Datos personales</span>
                                    <span class="detail-info">{{request.user.get_full_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 align-self-center">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img src="{% static 'images/10.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 align-self-center">
                                    <span class="detail-title">Correo electrónico</span>
                                    <span class="detail-info">{{request.user.email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 align-self-center">
                            <div class="row">
                                <div class="col-4 col-lg-5 align-self-center">
                                    <img src="{% static 'images/09.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 col-lg-7 align-self-center">
                                    <span class="detail-title">Teléfono</span>
                                    <span class="detail-info">{{request.user.cellphone|default:"Sin telefono"}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 align-self-center">
                            <div class="row">
                                <div class="col-4 col-lg-5 align-self-center">
                                    <img src="{% static 'images/11.png' %}" alt="" width="50" height="50">
                                </div>
                                <div class="col-8 col-lg-7 align-self-center">
                                    <span class="detail-title">Contraseña</span>
                                    <span class="detail-info">************</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block container %}
                <div class="row row-details">
                    <div class="col-12">
                        <span class="services-title">Mis Solicitudes</span>
                        <table class="table_id">
                            <thead>
                                <tr>
                                    <th scope="col"># Reserva</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tramites</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in requests %}
                                    <tr>
                                        <th scope="row">{{r.booking}}</th>
                                        <td>{{r.request_date}}</td>
                                        <td>
                                            <ul style="list-style-type: none;">
                                                {% for t in r.related_tramits.all %}
                                                    <li>
                                                        <li>{{t}}</li>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{r.get_request_status_display}}</td>
                                        <td>
                                            <a href="{% url 'webclient:request-detail' pk=r.pk %}">
                                                <i class="fas fa-eye" style="font-size: 1.5em"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
   
{% endblock %}
{% block extra_js %}
    {% block js_extra %}
        <script>
            axios.defaults.headers.common['Api-Key'] = '36f24428d8a940bcdbe996a01a98e10bfc7f2231';
        </script>
    {% endblock %}
{% endblock %}